*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(37, 37, 37);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-box{
    width: 400px;
    padding: 40px;
   position: relative;
    background: rgba(0,0,0,.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login-box h2{
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    text-align: center;
}
#login-box form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login-box form input{
    width: 80%;
    padding: 10px;
    background-color: rgb(46, 46, 46);
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
#login-box button{
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border:none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255); 
    color: rgb(28, 28, 28);
    font-size: 18px;
    cursor: pointer;
    font-weight: bolder;

}
#login-box button:hover{
    background-color: rgb(200, 200, 200);
}
small{
    color: red;
    margin-top: 5px;
    display: none;
    
}
#result{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    display: none;
}


































































































































































































































































































